
SolutionFrontEnd/.vs/SolutionFrontEnd/config/applicationhost.config
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.dll
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.exe
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.pdb
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.runtimeconfig.dev.json
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.StaticWebAssets.xml
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/apphost.exe
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Admin/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Articulos/Create.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Articulos/Delete.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Articulos/Details.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Articulos/Edit.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Articulos/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/ArticulosSolicituds/Create.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/ArticulosSolicituds/Delete.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/ArticulosSolicituds/Details.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/ArticulosSolicituds/Edit.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/ArticulosSolicituds/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Categorias/Create.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Categorias/Delete.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Categorias/Details.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Categorias/Edit.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Categorias/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/Details.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/GetCorales.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/GetPeces.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/ListaDeseos.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/MisSolicitudes.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout - Copia.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LayoutAdmin.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Solicitudes/Create.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Solicitudes/Delete.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Solicitudes/Details.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Solicitudes/Edit.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Solicitudes/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.assets.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csproj.CoreCompileInputs.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csproj.FileListAbsolute.txt
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csprojAssemblyReference.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.dll
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.genruntimeconfig.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/staticwebassets/SolutionFrontEnd.StaticWebAssets.Manifest.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/staticwebassets/SolutionFrontEnd.StaticWebAssets.xml
SolutionFrontEnd/SolutionFrontEnd/obj/project.assets.json
SolutionFrontEnd/SolutionFrontEnd/obj/project.nuget.cache
SolutionFrontEnd/SolutionFrontEnd/obj/SolutionFrontEnd.csproj.nuget.dgspec.json
SolutionFrontEnd/SolutionFrontEnd/obj/SolutionFrontEnd.csproj.nuget.g.props
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csprojAssemblyReference.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csprojAssemblyReference.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/SolutionFrontEnd.csprojAssemblyReference.cache
SolutionFrontEnd/SolutionFrontEnd/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.pdb
SolutionFrontEnd/SolutionFrontEnd/bin/Debug/netcoreapp3.1/SolutionFrontEnd.Views.dll
SolutionFrontEnd/.vs/SolutionFrontEnd/v16/.suo
SolutionFrontEnd/.vs/SolutionFrontEnd/DesignTimeBuild/.dtbcache.v2
