@{
    ViewData["Title"] = "Inicio";
}


<!-- AboutUs-->
<section class="page-section bg-secondary" id="aboutUs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="~/public/images/logo/TicoReefLogoBW.png" width="300px" height="300px">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="text-white mt-0">Acerca de Nosotros!</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                    Proin fermentum lacus odio, eu varius neque imperdiet fermentum. Sed sed efficitur erat, eget
                    convallis risus. Donec rutrum ultricies arcu, nec viverra augue cursus dictum. Sed malesuada
                    metus eget massa tincidunt, nec vulputate lectus fermentum. Mauris dictum turpis orci, id cursus
                    felis elementum a.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- TicoReefTeam-->
<section class="page-section" id="ticoReefTeam">
    <div class="container">
        <h2 class="text-center mt-0">Equipo Tico Reef</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-user text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Lorem Ipsum</h3>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                        ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                        Proin fermentum lacus odio, eu varius neque imperdiet fermentum.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-user text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Lorem Ipsum</h3>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                        ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                        Proin fermentum lacus odio, eu varius neque imperdiet fermentum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Corals-->
<section class="page-section bg-secondary" id="corals">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2 class="mt-0">Tipos De Corales</h2>
                <hr class="divider my-4" />
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Coral Suave</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-justify mt-3 mb-4">
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                                        Proin fermentum lacus odio, eu varius neque imperdiet fermentum.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">LPS</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-justify mt-3 mb-4">
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                                        Proin fermentum lacus odio, eu varius neque imperdiet fermentum.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">SPS</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled text-justify mt-3 mb-4">
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        ultrices in lectus malesuada pretium. Nulla euismod arcu nisi, quis venenatis lacus egestas in.
                                        Proin fermentum lacus odio, eu varius neque imperdiet fermentum.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contactanos</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">¿Tienes alguna duda acerca de acerca de Tico Reef? </p>
                <p class="text-muted mb-5">
                    Llamanos, escribenos por WhatsApp o envianos un correo, responderemos lo
                    más pronto posible!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+506 8888 8888</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fab fa-whatsapp fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="">Chat por WhatsApp</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:">Envianos un Email</a>
            </div>
        </div>
    </div>
</section>